//modality mobile
.mobile {
  cursor: pointer;
  font-size: var(--font-small);
  transition: 0.5s ease;
  min-height: 0;

  &.active p {
    transform: scale(1.1);
    color: var(--red-mixed);
  }
}

.mobile p {
  border: none;
  transition: transform 250ms ease-in-out;
  margin: 10px;
}

.mobile.active p::after {
  display: block;
  content: "";
  position: relative;
  bottom: -5px;
  border-bottom: solid 3px var(--red-mixed);
  transition: transform 250ms ease-in-out;
}

//icon close
.mat-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  width: auto;
  height: auto;
  z-index: 999;
}