//modality mobile
.mobile {
  cursor: pointer;
  font-size: var(--font-small);
  transition: 0.5s ease;
  min-height: 0;

  &.active div {
    transform: scale(1.1);
    color: var(--primary);
    font-weight: 600;
  }
}

.menu {
  line-height: 1;
}

.mobile div {
  border: none;
  transition: transform 250ms ease-in-out;
  margin: 10px;
}

.mat-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  width: auto;
  height: auto;
  z-index: 999;
}