@use "/src/styles/media-screen-variables" as *;

:host {

    @media (max-width: $mini-tablet) {
        --flex-column-mosaic-photo: 50%;
        --flex-column-mosaic-photo: 50%;
        --max-width-column-mosaic-photo: 50%;
    }
}

.title {
    font-size: var(--font-extra-large);
}

.description {
    text-align: justify;
    font-size: 25px;
}

ul.list-unstyled {
    padding: 0;
    margin: 0;
}

.list-item {
    line-height: 1.6;
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}

.list-item::before {
    content: "- ";
    color: #333;
    font-weight: bold;
}

.vertical {
    height: 420px;
}

.horizontal {
    height: 220px;
}