@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf") format("ttf");
  font-weight: 100 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700 900;
}