@use "variables-color" as *;

:root {
    --font-extra-small: 13px;
    --font-small: 17px;
    --font-normal: 20px;
    --font-large: 25px;
    --font-extra-large: 60px;

    --font-subtitle-extra-small: 30px;
    --font-subtitle-small: 40px;
    --font-subtitle: 56px;

    --font-title-card-extra-small: 30px;
    --font-title-card-small: 50px;
    --font-title-card: 60px;

    --max-width-column-mosaic-photo: 40%;
    --flex-column-mosaic-photo: 40%;
}