@import "variables-color";

:root {
    --font-extra-small: 13px;
    --font-small: 17px;
    --font-normal: 24px;
    --font-large: 50px;
    --font-extra-large: 103px;

    --font-subtitle-extra-small: 30px;
    --font-subtitle-small: 40px;
    --font-subtitle: 56px;

    --font-title-card-extra-small: 30px;
    --font-title-card-small: 50px;
    --font-title-card: 80px;
}