/*custom variables*/
@import "variables";

/*theming material*/
@import "@angular/material/theming";

/* Importing bootstrap */
@import "bootstrap/scss/bootstrap";

/* material theme */
@import "./material_theme";

html,
body,
mat-sidenav-content {
  height: 100%;
}

body,
mat-sidenav-content {
  background-color: var(--tertiary);
  margin: 0;
  font-family: 'Montserrat', 'The Seasons';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}