/*custom variables*/
@use "variables";
@use "./font";

/*theming material*/
@use "@angular/material/theming";

/* Importing bootstrap */
@use "bootstrap/scss/bootstrap";

/* material theme */
@use "./material_theme";

/*custom scss*/
@use "common";

html,
mat-sidenav-content {
  height: 100%;
}

body,
mat-sidenav-content {
  background-color: var(--tertiary);
  margin: 0;
  font-family: 'Montserrat', 'The Seasons', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

hr {
  color: var(--hr-color);
  height: 2px;
}