/*custom variables*/
@import "variables";
@import "./font";

/*theming material*/
@import "@angular/material/theming";

/* Importing bootstrap */
@import "bootstrap/scss/bootstrap";

/* material theme */
@import "./material_theme";

/*custom scss*/
@import "common";

html,
mat-sidenav-content {
  height: 100%;
}

body,
mat-sidenav-content {
  background-color: var(--tertiary);
  margin: 0;
  font-family: 'Montserrat', 'The Seasons', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

hr {
  color: var(--hr-color);
  height: 2px;
}