<div class="container" *ngIf="content as c">
    @for (cont of c.first_container; track $index) {
    <div class="">
        <h1 class="title text-center">{{cont.title}}</h1>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-5 col-lg-6 {{item.class}}" *ngFor="let item of cont.content">
                    <span *ngIf="!item.img; else img">{{item.title}}</span>
                    <ng-template #img>
                        <img class="w-100" [src]="item.img" [alt]="item.alt">
                    </ng-template>
                </div>
            </div>
            <hr class="my-5">
        </div>
    </div>
    }

    <div class="row d-flex justify-content-center" *ngIf="c.second_container as contain">
        <div class="title-card text-center">
            {{contain.title|uppercase}}
        </div>
        <div class="row d-flex justify-content-between text-center">
            <div class="col-md-4 col-sm-12 my-5" *ngFor="let item of contain.card; let last = last">
                <div class="card h-100">
                    <div class="my-3 title">{{item.title | uppercase}}</div>
                    <span class="desc">{{item.desc}}</span>
                </div>
            </div>
        </div>
    </div>
</div>