@if (content; as c) {
<div class="container py-5">
    <div class="text-center mb-3">
        <h1 class="title">{{c.title}}</h1>
        <p class="section-description">{{c.description}}</p>
    </div>

    <div class="row g-4 d-flex justify-content-center">
        @for (item of c.data; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center container-card">
            <div class="image-card">
                <div class="img-fluid">
                    <img [src]="item.imgUrl" alt="{{item.description}}">
                </div>
                <div class="image-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}