 @use "/src/styles/media-screen-variables" as *;

 .title {
     font-size: var(--font-extra-large);
 }

 .section-description {
     font-size: 25px;
     color: var(--primary);
     margin-bottom: 40px;
     margin-top: 30px;
 }

 .container-card {
     height: 400px;
 }

 .image-card {
     border: 2px solid #ddd;
     border-radius: 10px;
     overflow: hidden;
     transition: all 0.3s ease;
     display: flex;
     height: 100%;
 }

 .img-fluid {
     width: 75%;
     display: block;

     img {
         height: 100%;
     }
 }

 .image-card .image-description {
     padding: 15px;
     background-color: #fff;
     text-align: center;
     font-size: 16px;
     color: #333;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
 }

 .image-card:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transform: scale(1.05);
 }

 @media (max-width: $tablet) {
     .img-fluid {
         width: 100%;
     }

     .container-card {
         height: auto;
     }

     .image-card {
         margin-bottom: 30px;
         flex-direction: column;
         width: 100%;
     }

     .image-card img {
         width: 100%;
     }

     .image-card .image-description {
         justify-content: center;
     }
 }