@if (content; as c) {
<div class="container">
    <div class="text-center my-5">
        <h1 class="title">{{c.title}}</h1>
        <p class="section-description">{{c.description}}</p>
    </div>

    <div class="row g-4">
        @for (item of c.data; track $index) {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="image-card">
                <img [src]="item.imgUrl" alt="{{item.description}}" class="img-fluid">
                <div class="image-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}