mat-list-item {
    cursor: pointer !important;

    p {
        color: var(--tertiary);
        font-size: var(--font-small);
    }

    &.mat-mdc-list-item,
    .mat-mdc-list-option {
        width: auto !important;
    }

    .logo-name {
        font-family: 'the Seasons';
        font-size: var(--font-large);
    }
}