<mat-toolbar-row>
    <div *ngIf="!isMobile" class="d-flex row text-center align-items-center w-100">
        <ng-container *ngFor="let menu of menu;let i = index">
            <div class="mat-list-item col-{{getColRow(menu.propertyName)}}" [class.desktop]="!isMobile"
                (click)="goTo(menu.path, i)" [class.active]="selected===i">
                <div *ngIf="menu.propertyName!=='logo' && menu.propertyName!=='contact' ;else anotherType">
                    <div *ngFor="let item of menu.label">
                        <p class="mb-0">{{ item|uppercase }}</p>
                    </div>
                </div>
                <ng-template #anotherType>
                    <ng-container *ngIf="menu.propertyName==='logo'; else contacts">
                        <div class="logo-name" *ngFor="let item of menu.label">
                            {{ item|uppercase }}
                        </div>
                    </ng-container>
                    <ng-template #contacts>
                        <div class="btn-contact">
                            <span *ngFor="let item of menu.label">{{ item|uppercase }}</span>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </ng-container>
    </div>
    <button class="position-relative w-auto h-auto end-0 p-0" mat-icon-button (click)="sidenav.toggle()"
        [fxShow]="isMobile">
        <mat-icon>{{ pathIcon }}</mat-icon>
    </button>
</mat-toolbar-row>