@use "/src/styles/media-screen-variables" as *;

:host {
    width: 100%;
}

mat-toolbar-row {
    height: auto;

    button {
        --mat-mdc-button-persistent-ripple-color: transparent !important;
        display: flex;
        align-items: center;

        mat-icon {
            color: var(--tertiary);
            font-size: 40px;
            width: auto;
            height: auto;
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }
}

.desktop.active {
    & p {
        color: var(--white);
        font-weight: 800;
    }

    & .btn-contact {
        background: var(--tertiary);
        color: var(--primary);
        border: 1px solid var(--primary);
    }
}

.mat-list-item {
    height: auto !important;
    cursor: pointer !important;

    p,
    .btn-contact {
        color: var(--tertiary);
        font-size: var(--font-small);
    }

    .logo-name {
        color: var(--tertiary);
        font-family: 'the Seasons';
        font-size: calc(var(--font-large) + 5px);
    }

    .logo-image {
        width: 125px;
        margin-left: 5px;
    }

    .btn-contact {
        border: 1px solid var(--tertiary);
        padding: 10px 100px;
    }
}

@media (max-width: $laptop) {
    .mat-list-item {

        p,
        .btn-contact {
            font-size: var(--font-extra-small);
        }

        .logo-name {
            font-size: var(--font-normal);
            line-height: 1;
        }

        .btn-contact {
            padding: 10px 80px;
        }
    }
}