@if (content; as c) {
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 left-section">
            <h1 class="title">{{ c.title }}</h1>
            <p class="section-description">{{ c.description }}</p>
            <hr class="my-3">
            <div class="links">
                @for (link of c.links; track $index) {
                <a [href]="link.url" class="link" target="_blank">{{ link.title|uppercase }}</a>
                }
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 right-section">
            <carousel #carousel [interval]="4000" class="carousel">
                @for (slide of c.images; track $index) {
                <slide>
                    <img [src]="slide.image" alt="slide">
                    <div class="carousel-caption">
                        <h4>{{ slide.title }}</h4>
                        <p>{{ slide.description }}</p>
                    </div>
                </slide>
                }
            </carousel>
        </div>
    </div>
</div>
}