<div class="container">
    <div class="photos justify-content-between">
        <div class="row-img justify-content-end">
            <div class="column" *ngFor="let item of content.img">
                <img class="" *ngFor="let img of item" [src]="img.path" style="width:100%">
            </div>
        </div>
        <div class="description" [class]="sizeWindow>992?'ms-5':'m-auto'">
            <div *ngFor="let item of content.data">
                <div class="{{item.propertyName}}" *ngFor="let title of item.title">
                    {{title}}
                </div>
            </div>
        </div>
    </div>
</div>