@import "/src/styles/media-screen-variables";

.container {
    margin-top: 80px;
}

.description {
    width: 75%;
}

.photos {
    display: flex;
}

.row-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.title {
    font-size: var(--font-title-card);
    line-height: 1;
    text-align: center;
    font-family: "the Seasons";

    &:not(:first-child) {
        margin-bottom: 120px;
    }
}

@media (max-width: $mini-tablet) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .photos {
        display: block;
    }

    .title {
        font-size: var(--font-large);

        &:not(:first-child) {
            margin-bottom: 40px;
        }
    }

    .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}