@import "/src/styles/media-screen-variables";

:host {

    @media (max-width: $mini-tablet) {
        --flex-column-mosaic-photo: 50%;
        --flex-column-mosaic-photo: 50%;
        --max-width-column-mosaic-photo: 50%;
    }
}